services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n
    restart: unless-stopped
    environment:
    # guide https://docs.n8n.io/hosting/installation/docker/#setting-timezone
      - TZ=Asia/Taipei
      - GENERIC_TIMEZONE=Asia/Taipei
      - N8N_SECURE_COOKIE=false
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true 
      - N8N_RUNNERS_ENABLED=true 
    volumes:
      - /mnt/appdata/n8n:/home/node/.n8n
    ports:
      - 5678:5678
