services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n
    restart: unless-stopped
    environment:
    # guide https://docs.n8n.io/hosting/installation/docker/#setting-timezone
      - TZ=Asia/Taipei
      - GENERIC_TIMEZONE=Asia/Taipei
      - N8N_SECURE_COOKIE=false
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_RUNNERS_ENABLED=true
      - DB_SQLITE_POOL_SIZE=8
      - N8N_BLOCK_ENV_ACCESS_IN_NODE=false
      # to fix my permissions
      - PUID=3000
      - PGID=3000
    volumes:
      - /mnt/appdata/n8n:/home/node/.n8n
    ports:
    # only work after reverse proxy
      - 5678:5678
    depends_on:
      - valkey

  valkey:
    image: valkey/valkey:latest
    container_name: n8n-valkey
    restart: unless-stopped
    command: >-
      valkey-server
      --bind 0.0.0.0
      --requirepass redis
