services:
  cli-proxy-api:
    image: eceasy/cli-proxy-api-plus:latest
    container_name: cli-proxy-api-plus
    restart: unless-stopped
        
    ports:
      - "8317:8317"

    volumes:
      - /mnt/appdata/CLIProxyAPI/config.yaml:/CLIProxyAPI/config.yaml
      - /mnt/appdata/CLIProxyAPI/auth:/root/.cli-proxy-api
      - /mnt/appdata/CLIProxyAPI/logs:/CLIProxyAPI/logs
