services:
  qbt:
    image: binhex/arch-qbittorrentvpn
    restart: unless-stopped
    ports:
      # container ports
      - 6881:6881
      - 6881:6881/udp
      - 58079:58080
      - 8118:8118
    volumes:
      # download dir.
      # - /mnt/disks/BrokenHDD_BeCareful/qbittorrentDownloads/data:/data
      # - /mnt/mydata/diskMigration/BrokenHDD_BeCareful/qbittorrentDownloads/data:/data
      - /mnt/mydata/BT/PT:/data
      # appdata config
      - /mnt/appdata/binhex-qbittorrentvpn:/config
      # kernel modules for iptables (fix for ip_tables module not found)
      - /lib/modules:/lib/modules:ro
    environment:
      - TZ=Asia/Taipei
    env_file: .env
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
    privileged: true  # Required for loading ip_tables kernel module
    # for NET_CAP
